:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0;
}

.text-preset1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.25rem;
}

.text-preset2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 1.75rem;
}

.text-preset3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.text-preset4 {
  line-height: 1.5;
}

.text-preset4-bold {
  font-weight: 700;
  line-height: 1.5;
}

.recipe-img {
  width: 100%;
}

.recipe-img img {
  width: 100%;
}

.recipe-container {
  padding: 40px 32px;
}

.recipe-headings h1 {
  margin: 0;
  margin-bottom: 24px;
}

.recipe-headings p {
  margin: 0;
  color: var(--stone-600);
}

.recipe-prep-time {
  padding: 24px 24px 8px 24px;
  margin: 32px 0;
  background-color: var(--rose-50);
  border-radius: 12px;
}

.recipe-prep-time h3 {
  margin: 0;
  color: var(--rose-800);
}

.recipe-prep-time ul, .recipe-ingredients ul {
  list-style: none;
  padding: 0px;
  color: var(--stone-600);
}

.recipe-prep-time ul li, .recipe-ingredients ul li {
  display: flex;
  align-items: center;
}

.recipe-prep-time ul li::before, .recipe-ingredients ul li::before {
  content: "・";
  font-size: 1.5rem;
  margin-right: 16px;
  color: var(--rose-800);
}

.recipe-ingredients, .recipe-instructions, .recipe-nutrition {
  margin: 32px 0;
}

.recipe-ingredients h2, .recipe-instructions h2, .recipe-nutrition h2 {
  margin: 0;
  color: var(--brown-800);
}

.recipe-prep-time ul li span {
  font-weight: 700;
  margin-right: 4px;
}

.break-line {
  width: 100%;
  height: 1px;
  background-color: var(--stone-150);
  margin: 32px 0;
}

.recipe-instructions ol {
  padding-left: 24px;
  color: var(--stone-600);
}

.recipe-instructions ol li {
  padding-left: 16px;
}

.recipe-instructions ol li::marker {
  font-weight: 700;
  color: var(--rose-800);
}

.recipe-instructions ol li span {
  font-weight: 700;
}

.recipe-nutrition p {
  margin: 24px 0;
  color: var(--stone-600);
}

.recipe-nutrition table {
  width: 100%;
}

.recipe-nutrition table th {
  text-align: left;
  padding: 12px 32px;
  width: 55%;
  font-weight: 400;
  color: var(--stone-600);
  border-bottom: 1px solid var(--stone-150);
}

.recipe-nutrition table tr:last-child th {
  border-bottom: none;
}

.recipe-nutrition table td {
  font-weight: 700;
  color: var(--rose-800);
  border-bottom: 1px solid var(--stone-150);
}

.recipe-nutrition table tr:last-child td {
  border-bottom: none;
}

.attribution {
  margin-bottom: 16px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
