body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1 rem;
  font-family: "Outfit", sans-serif;
}

.text-preset1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.text-preset2 {
  font-family: "Outfit", sans-serif;
  font-weigth: 400;
}

.recipe-img {
  width: 100%;
}

.recipe-img img {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
